
<i class="fa fa-search" aria-hidden="true"></i>默认大小
<i class="fa fa-search fa-lg"></i> fa-lg
<i class="fa fa-search fa-2x"></i> fa-2x
<i class="fa fa-search fa-3x"></i> fa-3x
<i class="fa fa-search fa-4x"></i> fa-4x
<i class="fa fa-search fa-5x"></i> fa-5x

<div class="list-group">
  <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; 首页</a>
  <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; 关于我们</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; 后台应用编辑</a>
  <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; 系统设置</a>
</div>