@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css/>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h2 class="text-danger">Error</h2>
    <h2 class="text-danger">An Error occurred while processing your request</h2>
    <h2>翻译：处理您的请求时出错</h2>
</body>
</html>